.blog{
    color: black;
}

.post{
    margin-top: -40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.blogBody p{
    margin-top: 15px;
    color: black;
    font-weight: 300;
}

.blogTitle{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.blogsubTitle{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 450;
}

.subtopicBody{
    margin-left: 60px;
}

.blogImages{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
}

ul{
    margin-top: 2%;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}

.mainList li{
    list-style-type: circle;
    margin-top: 1%;
}

.subList li{
    list-style-type: square;
    margin-left: 10px;
}

