.blog{
    color: black;
}

.post{
    margin-top: -40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.blogBody p{
    margin-top: 15px;
    color: black;
    font-weight: 300;
}

.blogTitle{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.blogsubTitle{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 450;
}

.subtopicBody{
    margin-left: 60px;
}

.blogImages{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
}

ul{
    margin-top: 2%;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}

.mainList li{
    list-style-type: circle;
    margin-top: 1%;
}

.subList li{
    list-style-type: square;
    margin-left: 10px;
}

.socialsideIcons{
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.socialsideIcons ul{
    margin: 0;
    padding: 0;
}

.socialsideIcons ul li{
    list-style: none;
    margin: 5px 0;
}

.socialsideIcons ul li a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    background: #08526F;
    display: block;
    text-align: center;
    position: relative;
}

.socialsideIcons ul li a span{
    position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    height: 50px;
    color: white;
    background: #08526F;
    font-size: 15px;
    z-index: -1;
    opacity: 0;
    backface-visibility: hidden;
    transition: 0.5s;
}

.socialsideIcons ul li:hover span{
    opacity: 1;
    backface-visibility: visible;
    right: 50px;
}

.share-button{
    margin-top: 30px;
    margin-bottom: -30px;
    width: 150px;
    height: 40px;
    background: #dfe6e9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .share-button:hover{
    transform: scale(1.1);
  }
  
  .share-button span{
    position: absolute;
    width: 100%;
    background: #2d3436;
    color: #f1f1f1;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: .6s linear;
    border-radius: 20px;
  }
  
  .share-button:hover span{
    transform: translateX(-100%);
    transition-delay: .3s;
  }
  
  .share-button a{
    flex: 1;
    font-size: 20px;
    color: #2d3436;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .share-button:hover a{
    opacity: 1;
    transform: translateX(0);
  }
  
  .share-button a:nth-of-type(1){
    transition-delay: 1s;
  }
  
  .share-button a:nth-of-type(2){
    transition-delay: 0.8s;
  }
  
  .share-button a:nth-of-type(3){
    transition-delay: 0.6s;
  }
  
  .share-button a:nth-of-type(4){
    transition-delay: 0.4s;
  }
